.meet-room {
  display: grid;
  place-items: center;
  min-height: calc(100vh - var(--header-desktop));
  padding: var(--padding-m);

  &__await-section {
    display: flex;
    column-gap: 50px;
    border: 2px solid #0f1b33;
    min-height: 200px;
    padding: 20px 40px;
    border-radius: 10px;

    &__await-nickname {
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      & > h4 {
        font-size: 20px;
        font-weight: 600;

        & > span {
          color: #ba114c;
        }
      }

      & > p {
        font-size: 22px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        color: #8511c6;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 5px 10px;
        border-radius: 10px;
      }

      & input {
        width: 100%;
      }
    }


  }


  &__waiting-player {
    padding: 10px 20px;
    display: inline-flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__waiting-list {
    display: flex;
    column-gap: 10px;
  }

  &__waiting-item {
    height: 20px;
    width: 20px;
    background-color: red;


    &--ready {
      background-color: green;
    }
  }

}