.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  min-height: calc(100vh - var(--header-desktop));

  &__form {
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    border: 1px solid black;
    row-gap: 20px;
    border-radius: 20px;
    
    &__input-group {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    &__input {
      padding: 5px 0;
    }

    &__button {
      width: 100%;
    }
  }
}