.button-system {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  outline: none;
  border: 1px solid #222222;
  transition: background-color .3s ease;

  &:hover {
    background-color: #222222;
    color: #ffffff;
  }

  &:active {
    background-color: #505050;
  }
}